
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Login</title>
   </head>
   <body>
      
      <h1>Login</h1>
     
      <h3>Enter user name and password:</h3>
      
     <form action="userlogin" method="post">  
		UserName : <input type="text" name="name"/> <br><br>   
		Password : <input type="password" name="pass"/> <br><br>   
		<input type="submit" name="submit">  
	</form>
       
      <br>
      Username/password:
      <ul>
        <li>admin/admin123</li>
      </ul>  
       
   </body>
   
</html>