<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title><spring:message code="msg" /></title>
	
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var selItem = localStorage.getItem("locales");
			$('#locales').val(selItem ? selItem : 'en');
			$("#locales").change(function() {
				var selectedOption = $('#locales').val();
				if (selectedOption) {
					window.location.replace('?lang=' + selectedOption);
					localStorage.setItem("locales", selectedOption);
				}
			});
		});
	</script>
	
	<style>
		legend {
			width: auto;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>
<body>
	<div style="width: 600px; margin: auto;">
		<fieldset>
			<!--
			 <legend>
				<spring:message code="msg" />
			</legend> 
			-->
			<button>ไทย</</button>
			<a th:href="@{/login1?lang=en}">ไทย</a>
			<!--  i18n test start -->
			
			<!-- <form action="localechange" method="post">  
UserName : <input type="text" name="name"/> <br><br>   
Password : <input type="password" name="pass"/> <br><br>   
<input type="submit" name="ไทย">   -->
			
	<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
         <a th:href="@{localechange?lang=en}">English</a>
         &nbsp;|&nbsp;
         <a th:href="@{localechange?lang=th}">ไทย</a>
         &nbsp;|&nbsp;
      </div>
      <p th:text="#{lang.submit}"></p>
       <form action="userlogin" method="post">  
<p th:text="#{lang.username}"></p> : <input type="text" name="name"/> <br><br>   
<p th:text="#{lang.password}"></p> : <input type="password" name="pass"/> <br><br>  
<!-- <td colspan="2"> -->
 <!-- <spring:message code="label.submit" var="labelSubmit"></spring:message> -->
 <spring:message code="lang.submit"  var="labelSubmit"></spring:message>
<input type="submit" name="login" th:value="#{lang.submit}" />

</form>

<p th:text="#{lang.annouce_id}"></p>:
<p th:text="#{lang.subject}"></p>:
<p th:text="#{lang.content}"></p>:
<p th:text="#{lang.start_date}"></p>:
<p th:text="#{lang.end_date}"></p>:
<p th:text="#{lang.deleted}"></p>:
<p th:text="#{lang.create_date}"></p>:
<p th:text="#{lang.create_by}"></p>:
<p th:text="#{lang.modified_date}"></p>:
<p th:text="#{lang.modified_by}"></p>:

<p>Click <a th:href="@{/home}">login</a> go home.html</p>
			<!-- i18n test end -->
			<span th:text="#{lang.msg}"></span>:
			<p>
				<label><spring:message code="chooseLang" /></label>   <select
					id="locales">
					<option value="en">English</option>
					<option value="bn">বাংলা</option>
					<option value="hi">हिंदी</option>
					<option value="fr">Français</option>
					<option value="nl">Nederlands</option>
				</select>
			</p>
		</fieldset>
		<div style="clear: both"></div>
		<div>
			<spring:message code="copyright" />
			 ©
			<spring:message code="year" />
		</div>
	</div>
</body>
</html>